<section class="about" id="about">
    <div class="container">
        <div class="about__title title animate-go">
            <div class="svg__box">
                <svg class="about__svg animate-go" >
                    <text text-anchor="middle" x="50%" y="50%" class="text text-stroke" clip-path="url(#text1)">Обо мне</text>
                    <defs>
                        <clipPath id="text1">
                            <text text-anchor="middle" x="50%" y="50%" class="text">Обо мне</text>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="about__image-wrapper">
                    <img src="./assets/img/photo-teacher.png" alt="">
                </div>
            </div>

            <div class="col-lg-6">
                <p class="about__subtitle">Пару слов о <span class="about__subtitle_background">себе:</span></p>
                <div class="about__text-wrapper">
                    <p class="about__text">Я преподаю английский более 5 лет. На моем счету свыше 200 довольных учеников. У меня большой опыт ведения индивидуальных и групповых уроков.</p>
                    <p class="about__text">На моих уроках мы прокачиваем все навыки,необходимые для свободного понимания англоязычной речи и умения говорить.</p>
                    <p class="about__text">В основе моего индивидуального подхода стоит умение найти общий язык с каждым из вас! Я делаю все, чтобы вы могли думать сразу на английском о том, что вам важно. Для меня успех, когда абсолютно правильно, взахлеб от эмоций вы рассказываете о своих делах, отпуске, интересах или просто о ridiculous situations (нелепых ситуациях), используя все возможные прилагательные, которые будут здесь уместны! </p>
                </div>
            </div>
        </div>
    </div>
</section>
