<section class="banner">
    <div class="container">
        <div class="banner__logo-wrapper">
            <img src="./assets/img/logo.svg" alt="logo" class="banner__logo">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="banner__images">
                    <div class="banner__photo-wrapper">
                        <img src="./assets/img/photo_banner.png" alt="banner-photo" class="banner__photo">
                    </div>
                    <div class="banner__circle banner__circle--one"></div>
                    <div class="banner__circle banner__circle--two"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="banner__content">
                    <h1 class="banner__title">Привет, я Юля.
Я научу тебя думать на английском, как на родном языке</h1>
                    <p class="banner__subtitle">LET ME BE YOUR TEACHER </p>
                    <a href="#lesson" class="banner__button-link">
                        <button class="banner__button">
                            <span class="banner__button-text">занятия</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>