<section class="footer" id="footer">
    <div class="container">
        <div class="footer__title title animate-go">
            <div class="svg__box">
                <svg class="footer__svg animate-go">
                    <text text-anchor="middle" x="50%" y="50%" class="text text-stroke" clip-path="url(#text4)">Контакты</text>
                    <defs>
                        <clipPath id="text4">
                            <text text-anchor="middle" x="50%" y="50%" class="text">Контакты</text>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="footer__content">
            <a href="/">
                <button class="footer__mail">
                    <span>info@mail.com</span>
                </button>
            </a>
            <div class="footer__social">
                <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#facebook"></use></svg>
                <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#instagram"></use></svg>
                <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#telegram"></use></svg>
                <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#viber"></use></svg>
                <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#vk"></use></svg>
                <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#whatsapp"></use></svg>
            </div>
        </div>
    </div>
</section>
