<header class="header">
    <div class="container container_relative">
        <nav class="navigation">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#about" class="navigation__link">обо мне</a>
                </li>

                <li class="navigation__item">
                    <a href="#lesson" class="navigation__link">занятия</a>
                </li>

                <li class="navigation__item">
                    <a href="#review" class="navigation__link">отзывы</a>
                </li>

                <li class="navigation__item">
                    <a href="#footer" class="navigation__link">задать вопрос</a>
                </li>
            </ul>
        </nav>
    </div>  
</header>
<nav class="menu-aside">
    <div class="menu-btn">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
    </div>

    <div class="nav-links">
        <a href="#about" class="link navigation__item">обо мне</a>
        <a href="#lesson" class="link navigation__item">занятия</a>
        <a href="#review" class="link navigation__item">отзывы</a>
        <a href="#footer" class="link navigation__item">задать вопрос</a>
    </div>
</nav>
