<section class="lesson" id="lesson">
    <div class="container">
        <div class="lesson__title title animate-go">
            <div class="svg__box">
                <svg class="lesson__svg animate-go">
                    <text text-anchor="middle" x="50%" y="50%" class="text text-stroke" clip-path="url(#text2)">Занятия</text>
                    <defs>
                        <clipPath id="text2">
                            <text text-anchor="middle" x="50%" y="50%" class="text">Занятия</text>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 offset-lg-1 col-xxl-3 offset-xxl-2">
                <div class="lesson__type">
                    <button class="lesson__button active">
                        <span class="lesson__button-text">Индивидуальные</span>
                    </button>
                    <button class="lesson__button">
                        <span class="lesson__button-text">Групповые</span>
                    </button>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="lesson__tab active">
                    <p class="lesson__text">Индивидуальные занятия - это уроки, где программа и время выстраиваются исходя из ваших целей, предпочтений, сроков. Мы составляем комфортный для вас график и занятий и интенсивность курса. </p>
                    <div class="lesson__ind-60">
                        <p class="lesson__text">Индивидуальные занятия от 2-х раз в неделю, длительностью <strong>60</strong> минут</p>
                        <p class="lesson__text-price"><strong>Стоимость:</strong> разовое занятие - <span class="lesson__text-price_color">1500 руб</span></p>
                        <p class="lesson__text-price"><strong>Абонимент:</strong> 8 занятий - <span class="lesson__text-price_color">10 000 руб</span></p>
                    </div>
                </div>

                <div class="lesson__tab">
                    <p class="lesson__text">Группа от 2х до 4х человек. Все участники группы примерно одного уровня. Занятия в группе нацелены на развитие и улучшение коммуникативных навыков учащихся на изучаемом языке. График составляется исходя из возможностей учащихся. Цели и пожелания каждого участника группы учитываются.</p>
                    <div class="lesson__ind-60">
                        <p class="lesson__text"> Групповые занятия 2 раза в неделю <strong>60</strong> минут</p>
                        <p class="lesson__text-price"><strong>Абонимент:</strong> 8 занятий - <span class="lesson__text-price_color">7000 руб</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>