<div class="modal">
    <div class="modal__overlay">
        <div class="modal__popup">
            <div class="modal__close"></div>
            <div class="modal__title-content">
                <h2 class="modal__uppertitle">Авторский курс</h2>
                <h1 class="modal__title">"Английский для путешествий"</h1>
            </div>

            <h3 class="modal__text">ДЛИТЕЛЬНОСТЬ КУРСА 2 МЕСЯЦА, в который входит:</h3>
            <ul class="modal__list">
                <li class="modal__item">Занятия в zoom (+запись всех занятий с возможностью пересмотреть)</li>
                <li class="modal__item">Постоянное общение в телеграмм </li>
                <li class="modal__item">Ежедневный интерактив в закрытом Инстаграмм</li>
                <li class="modal__item">Видеозапись грамматики с подробным и четким описанием</li>
            </ul>

            <h3 class="modal__text">ЧТО ТЫ ПОЛУЧИШЬ НА ВЫХОДЕ УЖЕ ЧЕРЕЗ 2 МЕСЯЦА!!!</h3>
            <ul class="modal__list">
                <li class="modal__item">ТЫ будешь владеть всей лексикой необходимой для путешествий</li>
                <li class="modal__item">Знать всю необходимую грамматику</li>
                <li class="modal__item">Понимать английскую речь на слух</li>
                <li class="modal__item">Свободно и уверенно разговаривать с иностранцами</li>
            </ul>

            <button class="modal__button">бесплатная консультация
                            <div class="modal__social">
                <div class="menu__trigger" id="btn"></div>
                <a class="menu__item menu__item--0" href="https://www.instagram.com/julia_stepnova/" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__social-icon "><use xlink:href="./assets/img/sprite.svg#instagram"></use></svg>
                </a>

                <a class="menu__item menu__item--1" href="https://t.me/juliastepnova" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#telegram"></use></svg>
                </a>

                <a class="menu__item menu__item--2" href="https://vk.com/julia_stepnova" target="_blank" rel="noopener noreferrer">
                    <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#vk"></use></svg>
                </a>
            </div>
            </button>


        </div>
    </div>
</div>