<div class="modal go">
    <div class="modal__overlay go">
        <div class="modal__popup">
            <div class="modal__close"></div>
            <h1>Тут будет инфа по курсу</h1>


<div class="modal__social">

        <div class="menu__trigger" id="btn"></div>
        <a class="menu__item menu__item--0" href="https://www.instagram.com/julia_stepnova/" target="_blank" rel="noopener noreferrer">
            <svg class="footer__social-icon "><use xlink:href="./assets/img/sprite.svg#instagram"></use></svg>
        </a>

        <a class="menu__item menu__item--1" href="https://t.me/juliastepnova" target="_blank" rel="noopener noreferrer">
            <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#telegram"></use></svg>
        </a>

        <a class="menu__item menu__item--2" href="https://vk.com/julia_stepnova" target="_blank" rel="noopener noreferrer">
            <svg class="footer__social-icon"><use xlink:href="./assets/img/sprite.svg#vk"></use></svg>
        </a>
</div>



        </div>
    </div>
</div>