<section class="review" id="review">
    <div class="container">
        <div class="review__title title animate-go">
            <div class="svg__box">
                <svg class="review__svg animate-go">
                    <text text-anchor="middle" x="50%" y="50%" class="text text-stroke" clip-path="url(#text3)">Отзывы</text>
                    <defs>
                        <clipPath id="text3">
                            <text text-anchor="middle" x="50%" y="50%" class="text">Отзывы</text>
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="review__left">
                    <div class="review__image-wrapper animate-go">
                        <img src="./assets/img/review2.jpg" alt="review" class="review__image">
                    </div>
                    <div class="review__image-wrapper animate-go">
                        <img src="./assets/img/review.jpg" alt="review" class="review__image">
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="review__line-wrapper">
                    <div class="review__line go"></div>
                    <div class="review__circle go review__circle--one"></div>
                    <div class="review__circle go review__circle--two"></div>
                    <div class="review__circle go review__circle--tree"></div>
                    <div class="review__circle go review__circle--four"></div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="review__right">
                    <div class="review__image-wrapper animate-go ">
                        <img src="./assets/img/review3.jpg" alt="review" class="review__image">
                    </div>
                    <div class="review__image-wrapper animate-go">
                        <img src="./assets/img/review4.jpg" alt="review" class="review__image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
