.review {
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;

    &__title {
        position: relative;
        padding-top: 50px;
        padding-bottom: 80px;

        &::after {
            position: absolute;
            content: '';
            width: 0px;
            border-bottom: 5px solid #000;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
            animation-delay: 3s;
        }

        &.go {
            &::after {
                animation: width 1.5s ease forwards;
            }
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 290px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;

        &-wrapper {
            background-color: #ffe8f7;
            width: 350px;
            height: 400px;
            border-radius: 20px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
            transition: all 1s ease;
            opacity: 0;
            transform: translateY(-20%);

            &:not(:first-child) {
                margin-top: 180px;
                background-color: #e5e5e5;
            }

            &.go {
                opacity: 1;
                transform: translateY(0);

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 10px 10px 40px rgba(241, 55, 166, 0.45);
                }
            }
        }
    }

    &__line {
        background-color: #e5e5e5;
        width: 4px;
        height: 0px;
        margin-top: 40px;

        &.go {
            animation: height 3s linear forwards;
        }

        &-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            height: 100%;
        }
    }

    &__circle {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 40px;
        background-color: #000;
        border-radius: 50%;
        opacity: 0;

        &.go {
            animation: opacity 1.5s ease forwards;
        }

        &--one {
            margin-top: 0px;
        }

        &--two {
            margin-top: 290px;
        }

        &--tree {
            margin-top: 580px;

        }

        &--four {
            margin-top: 870px;

        }
    }
}

svg.review__svg {
    .text {
        display: none;
    }

    &.go {
        .text {
            font-family: Open Sans;
            font-size: 46px;
            line-height: 65px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            display: block;
        }

        .text-stroke {
            fill: none;
            stroke: #000;
            stroke-width: 10px;
            stroke-dashoffset: -900;
            stroke-dasharray: 900;
            stroke-linecap: butt;
            stroke-linejoin: round;
            animation: dash 1.5s ease forwards;
        }
    }
}

@keyframes height {
    100% {
        height: 870px;
    }
}

@keyframes opacity {
    100% {
        opacity: 1;
    }
}

@media (max-width: 991px) {
    .review {
        &__line {
            &-wrapper {
                display: none;
            }
        }

        &__left,
        &__right {
            align-items: center;
        }

        &__right {
            padding-top: 30px;
        }

        &__image-wrapper {
            &:not(:first-child) {
                margin-top: 30px;
            }
        }
    }
}

@media (max-width: 575px) {
    .review__image-wrapper {
        width: 300px;
    }

    .review__title {
        padding-bottom: 60px;
        padding-top: 0;
    }

    svg.review__svg {
        &.go {
            .text {
                font-size: 38px;
            }
        }
    }
}